#!/bin/bash

#
# Set Colors
#

bold=$(tput bold)
underline=$(tput sgr 0 1)
reset=$(tput sgr0)

purple=$(tput setaf 171)
red=$(tput setaf 1)
green=$(tput setaf 76)
tan=$(tput setaf 3)
blue=$(tput setaf 38)

#
# Headers and  Logging
#

e_header () {
	printf "\n${bold}${purple}==========  %s  ==========${reset}\n" "$@"
}

e_arrow () {
	printf "➜ $@\n"
}

e_success () {
	printf "${green}✔ %s${reset}\n" "$@"
}

e_error () {
	printf "${red}✖ %s${reset}\n" "$@"
}

e_warning () {
	printf "${tan}➜ %s${reset}\n" "$@"
}

e_underline () {
	printf "${underline}${bold}%s${reset}\n" "$@"
}

e_bold () {
	printf "${bold}%s${reset}\n" "$@"
}

e_note () {
	printf "${underline}${bold}${blue}Note:${reset}  ${blue}%s${reset}\n" "$@"
}

# rm with force and recursive
rr () {
	rm -fr $1
}

docker-ssh() {
    if [ -n "$1" ]
    then
        docker exec -it "$1" bash
    fi
}

vpn () {
  if [ -n "$1" -a "$1" = "c" ]; then
    if [ -n "$2" ]; then
      nordvpn c $2
      return
    fi

    nordvpn c
    return
  fi

  if [ -n "$1" -a "$1" = "d" ]; then
    nordvpn d
    return
  fi

  if [ ! -n "$1" -o "$1" = "s" -o "$1" = "status" ]; then
    nordvpn status
    return
  fi
}
