[user]
	email = ricardobarantini@gmail.com
	name = Ricardo Barantini
	signingkey = /home/ricardo/.ssh/id_ed25519.pub

[alias]
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop\\|staging\\|main' | xargs -n 1 -r git branch -d"
[init]
	defaultBranch = main
[gpg]
	format = ssh
