[Unit]
Description=Fcitx5 Input Method Daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/fcitx5 -d
Restart=on-failure
RestartSec=3
StandardOutput=append:%h/.local/state/logs/fcitx5.log
StandardError=append:%h/.local/state/logs/fcitx5.log

[Install]
WantedBy=graphical-session.target
