[Unit]
Description=SwayOSD Server
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swayosd-server
Restart=always

[Install]
WantedBy=graphical-session.target

