@define-color primary rgba(105, 51, 174, 0.9);
@define-color secondary #16FBDC;
@define-color accent #F1D800;
@define-color text-color #F8F8FF;

* {
  font-family: 'JetBrainsMono Nerd Font';
  color: @text-color;
}

#waybar {
  background: @primary;
  margin-top: 10px;
}

.modules-right {
  border-radius: 5px;
  padding: 8px 15px;
}

#custom-launcher {
  font-size: 25px;
  margin: 0 15px;
}

#custom-launcher:hover {
  color: @accent;
  transition: color 0.3s ease-in-out;
}

#workspaces button.active * {
  color: @accent;
}

#cpu {
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
}

#memory {
  padding: 0 10px;
}

#disk {
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
}

#tray {
  margin-left: 10px;
}

#wireplumber {
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 10px;
}

#clock {
  padding: 0 10px;
  border-radius: 10px;
  margin-left: 10px;
}

#cpu, #memory, #disk, #wireplumber, #clock {
  background: @accent;
  color: #313131;
}

#custom-lock, #custom-reboot, #custom-power {
  margin: 0 15px;
}
