window#waybar {
  background: rgb(69, 71, 90);
  font-family: "CaskaydiaCove NF";
  font-size: 13px;
}

window#waybar > box {
  margin: 0px;
}

#workspaces {
  padding: 2px 10px;
  background: rgb(30, 30, 46);
}

#workspaces button,
#workspaces button.persistent {
  padding: 0px 5px;
  color: rgb(205, 214, 244);
}

#workspaces button.active {
  color: rgb(235, 160, 172);
}

#workspaces button:hover {
  color: rgb(235, 160, 172);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
}

window#waybar.empty #windowcount {
  opacity: 0;
}

#window, #tray {
  padding-left: 5px;
  padding-right: 5px;
  background: rgb(49, 50, 68);
}

#mpris {
  padding-left: 5px;
}

#cpu,
#memory,
#disk,
#wireplumber,
#network,
#custom-toggle-scheme,
#custom-vpn-status {
  background: rgb(30, 30, 46);
  padding: 0px 10px;
}

#cpu,
#memory,
#disk,
#wireplumber,
#clock,
#network,
#windowcount,
#window,
#tray,
#custom-toggle-scheme,
#mpris {
  color: rgb(205, 214, 244);
}

#custom-vpn-status {
  color: rgb(249, 226, 175);
}

window#waybar.empty #window {
  background: rgb(49, 50, 68);
}

#custom-divider_left_1,
#custom-divider_left_2,
#custom-divider_right_1,
#custom-divider_right_2 {
  font-size: 25px;
}

#custom-divider_left_1 {
  background: rgb(49, 50, 68);
  color: rgb(30, 30, 46);
}

#custom-divider_right_1 {
  background: rgb(49, 50, 68);
  color: rgb(30, 30, 46);
}
