#!/usr/bin/env bash

# Laravel Sail
alias sa="sail artisan"
alias sacc="sail artisan config:clear"
alias sadb="sail artisan db"
alias sadw="sail artisan db:wipe"
alias sail="./vendor/bin/sail"
alias sam="sail artisan migrate"
alias samf="sail artisan migrate:fresh"
alias samfs="sail artisan migrate:fresh --seed"
alias sarl="sail artisan route:list"
alias sat="sail artisan test"
alias sb="sail bash"
alias sd="sail down"
alias st="sail artisan tinker"
alias sud="sail up -d"

# Dev Environment
alias api-dev="ssh -t ebtadmin@192.168.1.63 'cd /home/ebtadmin/workspace/ebtapi_v3; exec \$SHELL --login'"
alias passport-dev="ssh -t ebtadmin@192.168.1.63 'cd /home/ebtadmin/workspace/ebt_passport_v3; exec \$SHELL --login'"

# Forge (Production)
alias api-prod="ssh -t forge@192.168.1.46 'cd /home/forge/apiv3.earthboundtrading.com; exec \$SHELL --login'"
alias passport-prod="ssh -t forge@192.168.1.45 'cd /home/forge/ebtpassport.com; exec \$SHELL --login'"
alias worker-prod="ssh -t forge@192.168.1.47 'cd /home/forge/workerv3.earthboundtrading.com; exec \$SHELL --login'"
alias promotions-worker="ssh -t forge@137.184.202.205 'cd /home/forge/promoworker.earthboundtrading.com; exec \$SHELL --login'"
alias promotions-db="ssh -t forge@147.182.188.160"

# Older Tinkerwell runs the old "docker-compose" command instead of "docker compose"
alias docker-compose="docker compose"

docker-ssh() {
  if [ -n "$1" ]; then
    docker exec -it "$1" bash
  fi
}

warp () {
	if warp-cli status | grep 'Disconnected' > /dev/null 2>&1; then
		warp-cli connect > /dev/null 2>&1
	else
		warp-cli disconnect > /dev/null 2>&1
	fi
}
