if [ -f $HOME/.aliases ]; then
  source $HOME/.aliases
fi

if [ -d "$HOME/.config/composer/vendor/bin" ]; then
  export COMPOSER_PATH=$HOME/.config/composer/vendor/bin
  export PATH=$PATH:$COMPOSER_PATH
fi

if [ -d "$HOME/.nvm" ]; then
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi

export PHPENV_ROOT="/home/ricardo/.phpenv"
if [ -d "${PHPENV_ROOT}" ]; then
  export PATH="${PHPENV_ROOT}/bin:${PATH}"
  eval "$(phpenv init -)"
fi